!!!
%html
  %head
    %title Paper
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

%body{class: "#{body_class} #{yield(:body_class)}"}
  #layout
    .flash
      - if flash[:errors]
        .errors
          = flash[:errors]
      - elsif flash[:notice]
        .notice
          = flash[:notice]

    = yield

    // This had to be the last thing in the .layout div
    #layout-footer

  #footer