= form_for @post, url: admin_post_url do |f|
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :content
    %br
    = f.text_area :content
  %p
    = f.check_box :draft
    = f.label 'Mark as a draft'
  %p
    = f.submit
    = link_to 'Delete Post', admin_post_url(@post), method: :delete, confirm: 'Are you sure you want to delete this post?'